<h2>Öğrenci Ekleme Formu</h2>
<div class="form-container">
    <form id="studentInputForm">
        <p><input required type="text" name="name" placeholder="Ad" /></p>
        <p><input required type="text" name="surname" placeholder="Soyad" /></p>
        <p><input required type="number" name="age" placeholder="Yaş" /></p>
        <p><input required type="email" name="email" placeholder="E-Posta" /></p>
        <p><input required type="text" name="phoneNumber" placeholder="Telefon Numarası" /></p>
        <button>Ekle</button>
    </form>
</div>

<script src="~/js/form.js"></script>
