<div class="container">
    <h2>Öğrenci Listesi</h2>
    <table>
        <thead>
            <tr>
                <th>Ad</th>
                <th>Soyad</th>
                <th>Yaş</th>
                <th>E-Posta</th>
                <th>Telefon Numarası</th>
            </tr>
        </thead>
        <tbody id="studentList">

        </tbody>
    </table>
</div>

<script src="~/js/site.js" asp-append-version="true"></script>
